<%# #form here is to create a job post for the tutor %>
<div class= "shadow appearance-none bg-gray-400 max-w-xs border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
<%= form_with(model: advertise, local: true) do |form| %>
  <% if advertise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(advertise.errors.count, "error") %> prohibited this advertise from being saved:</h2>

      <ul>
        <% advertise.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="block text-gray-700 text-sm font-bold mb-2">
    <%= form.label :date %>
    <div class="shadow appearance-none bg-white border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    <%= form.date_select :date%>
    </div>
  </div>

  <div class="block text-gray-700 text-sm font-bold mb-2 w-100">
    <%= form.label :title %>
    <div class="shadow appearance-none bg-white border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    <%= form.text_field :title %>
  </div>

  <div class="block text-gray-700 text-sm font-bold mt-2 mb-2 w-100">
    <%= form.label :job_offer %>
    <div class="shadow appearance-none bg-white border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    <%= form.text_area :job_offer %>
  </div>

  <div class="actions placeholder-transparent flex justify-center font-bold rounded-full mt-6 border bg-white px-2 py-2 w-40 justify-center">
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
</div>
