<h1 class="mt-6 tracking-widest text-sm md:text-4xl upcase flex justify-center">Tutors Available</h1>
 
<table class="mt-6 bg-white rounded md:flex  shadow-2xl flex flex-col items-center">
  <tbody class="mt-4 md:mt-0 md:ml-6">
    <% @advertises.each do |advertise| %>
      <tr>
        <td class="max-w-sm">
          <% if advertise.user.photo.attached?%> 
          <%= image_tag advertise.user.photo, width:150 %>
          <% end %></td>       
        <td class=" mt-1 text-md leading-tight font-semibold text-gray-900"><%= advertise.title %></td>
        <td class="mt-2 text-gray-600"><%= advertise.job_offer %></td>
        <td class="mt-6 uppercase text-sm text-gray-600 flex items-center"><%= advertise.user.username %></td>
        <%# <td><%= advertise.date</td> %> 
        <td class=" text-sm text-gray-600 flex ">Email: <%= advertise.user.email %></td>
        <td></td>
        <td><%= link_to 'Show', advertise %></td>
        <td><% if current_user.id == advertise.user_id %>
        <%= link_to '|Edit|', edit_advertise_path(advertise) %></td>
        <td ><%= link_to 'Destroy', advertise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<button class="mt-2 mb-2 bg-gray-300 border border-blue-900 hover:text-blue-300 text-blue font-bold py-2 px-4 rounded-full mb-6 shadow ">
  <%= link_to 'Create Job Post', new_advertise_path %>
</button>

    <% if flash[:alert] %>
        <div class="bg-red-100 border-4 border-red-500 max-w-sm text-red-600 p-2 role="alert">
          <p class="font-bold">!! Unauthorized</p>
          <p>Only Tutors can create Job Advertisements.</p>
        </div>
    <% end %>
