<p id="notice"><%= notice %></p>

<h1>Advertises</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Title</th>
      <th>Job offer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advertises.each do |advertise| %>
      <tr>
        <td><%= advertise.user_id %></td>
        <td><%= advertise.date %></td>
        <td><%= advertise.title %></td>
        <td><%= advertise.job_offer %></td>
        <td><%= link_to 'Show', advertise %></td>
        <td><%= link_to 'Edit', edit_advertise_path(advertise) %></td>
        <td><%= link_to 'Destroy', advertise, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advertise', new_advertise_path %>
