<p id="notice"><%= notice %></p>

<h1 class="mt-6 tracking-widest text-sm md:text-4xl upcase flex justify-center"> CheckMate Forum</h1>
 

<table class="mt-6 bg-white rounded md:flex  shadow-2xl flex flex-row items-center">
  <tbody class="mt-4 md:mt-0 md:ml-6">
    <% @forums.each do |forum| %>
      <tr>
        <td class="text-xs text-gray-500 flex items-center"><%= forum.date %></td>
        <td class="mt-1 pl-5 text-md leading-tight font-semibold text-gray-900"><%= forum.title %></td>
        <td class="mt-2 pl-5 text-gray-600"><%= forum.content %></td>
        <td class="pl-5 text-gray-500"> <%= forum.user.username %></td>
        <td class="text-sm text-gray-600 flex items-center pl-10">
        <%= link_to 'Show / Add Comment', forum %></td>
        <% if current_user.id == forum.user_id %>
        <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
        <td><%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<button class="mt-2 mb-2 bg-gray-300 border border-blue-900 hover:text-blue-300 text-blue font-bold py-2 px-4 rounded-full mb-6 shadow ">
<%= link_to 'Create New Post', new_forum_path %>
</button>