<div class="shadow-2xl mt-10 px-4 py-4 mb-4">
  <p>
    <strong>Date:</strong>
    <%= @forum.date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @forum.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @forum.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @forum.user.username %>
  </p>

  <h5 class="font-bold">Comments:</h5>
  <% @forum.comments.each do |comment| %>
    <div class="my-4">
      <p ><%= comment.content%></p> 
      <p ><%= comment.user.username%></p>
      <% if !current_user.id != @forum.user_id %>
      <%= link_to "Delete", "/forums/#{@forum.id}/comments/#{comment.id}", method: :delete %>
      <% end %>
    </div>
  <% end %>

  <%= form_with(model: Comment.new, local: true, url: "/forums/#{@forum.id}/comments") do |form| %>
    <div class="font-bold">
      <%= form.label "Add Comment" %>
      <%= form.text_field :content %>
    </div>
    <button class="mt-2 mb-2 bg-white border border-blue-900 hover:text-blue-300 text-blue font-bold py-2 px-4 rounded-full mb-6 shadow ">
      <%= form.submit %>
    </button>
  <div>
  <% end %>
  <% if !current_user.id != @forum.user_id %>
  <%= link_to 'Edit Post |', edit_forum_path(@forum) %>
  <%end%>
  <%= link_to 'Back', forums_path %>
  </div>
</div>
 