<%# #shows the current users profile %>
<p id="notice"><%= notice %></p>

<h1 class="mt-6 tracking-widest text-sm md:text-4xl upcase flex justify-center">Profile</h1>
<div class = "mt-6 bg-white rounded shadow-2xl max-w-xs py-6 px-20 w-50">
  <div class="avatar">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, width: 200 %> 
    <% end %>
  </div>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Ability level:</strong>
    <%= @user.ability_level %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @user.location %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @user.roles[0].name  %>
     
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
  </div>