<!DOCTYPE html>
<html>
  <head >
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
      <nav class="flex items-center justify-between flex-wrap bg-blue-900 p-6 rounded-lg shadow-md">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <span class="font-semibold text-xl tracking-tight">Welcome</span>
        </div>
        <div class="block sm:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>  
        <div class="w-full block flex-grow md:flex md:items-center md:w-auto">
          <div class="text-sm md:flex-grow">
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:grey mr-4">
              <%=link_to "Play Chess", pages_show_path %>
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
              <%=link_to "Tutorials", pages_index_path %>
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
              <%=link_to "Forum", forums_path %>
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
              <%=link_to "Advertise", advertises_path %>
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
              <%=link_to "View Profile", user_path %>
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
              <%=link_to "Home", users_path %>
            </a>
          </div>
          <div>
            <a href="#" class="inline-block text-sm px-4 py-2 leading-none rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">    
              <% if user_signed_in? %>
                <%=link_to "Sign Out", destroy_user_session_path, method: :delete %>
              <% else %>
                <%=link_to "Log In", new_user_session_path %>
                <%=link_to "Sign Up", new_user_registration_path %>        
              <% end %></a>
          </div>
        </div>
      </nav>

    <%# <title>Src</title>
    <%= csrf_meta_tags %>
    <%# <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <%= yield %>
  </body>

</html>
