<!DOCTYPE html>
<html class="bg-indigo-100 ">
  <head >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'%>
  </head>
  <section class="bg-indigo-100 font-mono">
      <nav class="flex items-center justify-between flex-wrap bg-blue-900 p-6 rounded-lg shadow-md">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <span class="font-semibold text-xl tracking-tight">CheckMate</span>
        </div>
        <div class="block sm:hidden">
          
        </div>  
        <div class="w-full space-x-3 flex-grow md:flex md:items-center lg:w-auto">
          <div class=" mt-4 sm:inline-block text-sm md:flex-grow lg:mt-0 text-teal-200  justify-between">
            <a class=" ">
              <%= link_to "Home", root_path %>
            </a>
            <a class="block mt-4 sm:inline-block lg:mt-0 text-teal-200 mx-4">
             <%=link_to "Play Chess", splashes_chess_path %>
            </a>
            <a class="block mt-4 sm:inline-block lg:mt-0 text-teal-200 mx-4">
              <%=link_to "Tutorials", pages_index_path %>
            </a>
            <a class="block mt-4 sm:inline-block lg:mt-0 text-teal-200 mx-4">
              <%=link_to "Forum", forums_path %>
            </a>
            <a class="block mt-4 sm:inline-block lg:mt-0 text-teal-200 mx-4">
              <%=link_to "Advertise", advertises_path %>
            </a>
            <a class="block mt-4 sm:inline-block lg:mt-0 text-teal-200 mx-4">
              <%=link_to "Profile", users_path %>
            </a>
            <a class=" inline-block text-sm px-4 py-2 leading-none rounded text-white border-white mt-4 lg:mt-0">    
              <% if user_signed_in? %>
                <%=link_to "Sign Out", destroy_user_session_path, method: :delete %>
              <% else %>
                <%=link_to "Log In", new_user_session_path %>
                <%=link_to "Sign Up", new_user_registration_path %>        
              <% end %></a>
          </div>
        </div>
      </nav>
    <p class="notice"><%= notice %></p>
    <%= yield %>
  </section>
  <body class= "mt-6 ml-4 mr-4 mb-2 font-mono">
  </body>

</html>
